#you {
	width: 80px;
	height: 80px;
	border: 1px solid #444;
	border-radius: 100%;
	overflow: hidden;
	float: left;
	box-shadow: 0 0 10px #444;
	background-image: url(/img/avatar-by.jpg);
	background-size: 100%;
	cursor: pointer;
	onclick: ="window.open('https://wzq.lianyiming.com/')"
}
