---
layout: page
title: About
description: "Hey, this is LYM."
header-img: "img/2.jpg"
sidebar: false
---
<!DOCTYPE html>
<head>

	<style>
	
		</style>
</head>
<br>
<blockquote>
	<p>一   只   躬   身   入   局   の   我   辈   中   人 
	<br />
	<br />
	</blockquote>
<blockquote>
			<div id="you" onclick="window.open('https://wzq.lianyiming.com/')" alt="Me!">
		</div>
		<div class="zh post-container">
	</p>
	<!--三个属性缺一不可，前边也需要一个斜杠-->
	<blockquote>
		<p>&nbsp Hey，我是<strong>廉一鸣</strong>，一只初四斜杠学生</p>
		<strong>Ability</strong>:
		本人擅长Ai、Fw、Fl、Br、Ae、Pr、Id、PS等软件的安装与卸载，精通CSS、JavaScript、PHP、C、C＋＋、java、Ruby、Perl、Lisp、python、Objective-C、ActionScript等单词的拼写，熟悉windows、Linux、Mac、Android、IOS等系统的开关机。<br>
		<strong>Achieve</strong>: 美国《时代》周刊2006年度人物，曾获2008年“感动中国”组委会特别大奖(哈哈哈是俩梗，大佬您阔以自行百度)<br>
		<br />
		<hr>
		<p>感谢你来到这里吖(◍˃̶ᗜ˂̶◍)✩~

			<br />
			网站のApp--<strong><a href="https://wwe.lanzous.com/iIwtBh326pi">Lianyiming.apk</a></strong>
			<br />
			网站の源码--<strong><a href="{{ site.github_repo }}">Github·Lianyiming.github.io</a></strong>
			<br />
			网站的Appの源码--<a href="https://github.com/LianYiMing/LianYiMing.apk">Github·LianYiMing.apk</a>
			<br />
			<blockquote>
				<i><strong># A Letter to Dear You</strong></i>

			</blockquote>
			<h6>
				<strong>Dear 陌生人</strong>
				<hr>
				<small>见字如晤</small>
	</blockquote>
	</i>
	这里是廉一鸣的の博客 <br />
	也是文章归档的大本营 <br />
	Everyday <br />
	都会与你聊聊最近的学习心得 <br />
	☞最重要的是→绝对说人话，小白向，每一个系列都是写给零基础的小白的入门专辑 <br />
	And <br />
	会以日更的形式，每天聊两篇 <br />
	#→第1篇是实战 <br />
	##→第2篇是为之后做铺垫的理论or让人脑爆的n.技术名词 <br />
	IN THE END :感谢大佬的关注 <br />
	<hr>分割线 <br />
	1.窝の电报群(挂梯子后<a href="https://t.me/LianYiMing">点击</a>加入): <br />
	https://t.me/LianYiMing<br />『Intro』:里边有自己觉得很实用的资源(基本都是破解哈哈哈) <br />
	2.窝的のAPP(<a href="https://wwe.lanzous.com/iIwtBh326pi">阔以点击 </a>下载瞅瞅呢) <br />
	3.窝の公众小号(<a href="https://www.lianyiming.com/img/weixin.png">廉一鸣</a>有空来康康叭『用微信里扫扫啦～』) <br />
	https://wwe.lanzous.com/iIwtBh326pi <br />
	</h6>
	</div>
	{% if site.valine.enable %}
	<div id="vcomments"></div>
	<script src="/js/valine/av-min.js"></script>
	<script src="/js/valine/Valine.min.js"></script>
	<script>
		new Valine({
			el: '#vcomments',
			appId: '{{site.valine.appId}}',
			appKey: '{{site.valine.appKey}}',
			visitor: 'true' === 'true',
			avatar: ' ',
			pageSize: '10',
			lang: 'en',
			placeholder: '“我干了什么，究竟用时间换了什么”'
		});
	</script>
	{% endif %}
	<!-- Gitalk 评论 start  -->
	{% if site.gitalk.enable %}
	<!-- Gitalk link  -->
	<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
	<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

	<div id="gitalk-container"></div>
	<script type="text/javascript">
		var gitalk = new Gitalk({
			clientID: '{{site.gitalk.clientID}}',
			clientSecret: '{{site.gitalk.clientSecret}}',
			repo: '{{site.gitalk.repo}}',
			owner: '{{site.gitalk.owner}}',
			admin: ['{{site.gitalk.admin}}'],
			distractionFreeMode: {
				{
					site.gitalk.distractionFreeMode
				}
			},
			id: 'about',
		});
		gitalk.render('gitalk-container');
	</script>
	{% endif %}
	<!-- Gitalk end -->

	<!-- disqus 评论框 start  -->
	{% if site.disqus.enable %}

	<div class="comment">
		<div id="disqus_thread" class="disqus-thread">
		</div>
	</div>
	<!-- disqus 评论框 end -->

	<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript" src="\js\FunnyTitle.js"></script>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = "{{site.disqus.username}}";
		var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
		var disqus_url = "{{site.url}}{{page.url}}";

		(function() {
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript';
			dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<!-- disqus 公共JS代码 end -->
	{% endif %}



	</div>
	</main>