<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" type="text/css" href="/css/Load.css">
		<script>
				(function () {
	    const loaded = function(){
	       setTimeout(function(){
	            const loader = document.getElementById("loading-container");
	            loader.className="fadeout" ;//使用渐隐的方法淡出loading page
	            // document.getElementById("body-wrap").style.display="flex";
	            setTimeout(function(){
	                loader.style.display="none";
	            },1000); 
	        },3000);//强制显示loading page 的时间  LYM
	    };
	    loaded();
	})()
	 </script>
	
		</head>
	
	
		<div id="loading-container">
			<p class="loading-text">Loaing~<p>
			<div class="loading-image">
				
			</div>
		</div>
{% include Friend.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}
	



<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
