<!DOCTYPE html>
<html lang="en">
	{% if site.lovemouse.enable %}
	<script src="../js/love%20mouse.js"> 
	{% endif  %}
	{% if site.FunnyTitle.enable%}
	<script type="text/javascript" src="../js/FunnyTitle.js"></script>
	{% endif %}
	<script src="../js/Load.js"></script>
	<script src="../js/live2dw/lib/L2Dwidget.min.js?094cbace49a39548bed64abff5988b05"></script>
	<script src="../js/cat.js "></script>
	<!--引用外部悬浮小猫js-->

	<!--<script>
window.open("https://www.lianyiming.com");
	</script>-->

	</head>


	<div id="loading-container">
		<p class="loading-text">Loaing......<p>
				<div class="loading-image">

				</div>
	</div>
	{% include head.html %}

	<!-- hack iOS CSS :active style -->
	<body ontouchstart="">

		{% include nav.html %}
		{% include search.html %}

		{{ content }}

		{% include footer.html %}


		<!-- Image to hack wechat -->
		<img src="/img/icon_wechat.png" width="0" height="0" />
		<!-- Migrate from head to bottom, no longer block render and still work -->

		</script>>

	</body>

</html>
