<!DOCTYPE html>
<html lang="en">
	{% if site.webpush %}
	<script>
		(function(w, d, s, id) {
			if (typeof(w.webpushr) !== 'undefined') return;
			w.webpushr = w.webpushr || function() {
				(w.webpushr.q = w.webpushr.q || []).push(arguments)
			};
			var js, fjs = d.getElementsByTagName(s)[0];
			js = d.createElement(s);
			js.id = id;
			js.async = 1;
			js.src = "https://cdn.webpushr.com/app.min.js";
			fjs.parentNode.appendChild(js);
		}(window, document, 'script', 'webpushr-jssdk'));
		webpushr('setup', {
			'key': "{{ site.webpushkey }}",
			'integration': 'popup'
		});
	</script>
	{% endif %}
	<script>	console.log("\n %c 廉一鸣的博客 v1.0.1  %c https://www.lianyiming.com/ \n",
			"color: #fadfa3; background: #030307; padding:5px 0;", "background: #fadfa3; padding:5px 0;")</script>
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
	</script>
	<!--卜算子统计 -->
	{% if site.webpush %}
	<script src="/js/tongzhi.js"></script>
	{% endif %}
	{% if site.flower %}
	<script src="https://cdn.jsdelivr.net/gh/10963273/iuiu@master/js/yinghua.js"></script>
	{% endif %}

	{% if site.thread %}
	<script type="text/javascript" src="/js/ribbon-dynamic.js" async="async"></script>
	{% endif %}
	{% if site.lovemouse %}
	<script src="/js/love%20mouse.js"> </script>
	{% endif %}
	{% if site.FunnyTitle %}
	<script src="/js/FunnyTitle.js"></script>
	{% endif %}
	{% if site.cat %}
	<script src="/js/live2dw/lib/L2Dwidget.min.js?094cbace49a39548bed64abff5988b05"></script>
	<script src="/js/cat.js "></script>
	{% endif %}
	<!--引用外部悬浮小猫js-->
	{% if site.aplayer %}
	<script src="/libs/aplayer/APlayer.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
	{% endif %}
	{% if site.cute %}
	<script src="https://cdn.jsdelivr.net/gh/LianYiMing/live2d-widget@latest/autoload.js"></script>
	<script>
		console.log(
			`
	
	く__,.ヘヽ.        /  ,ー､ 〉
           ＼ ', !-─‐-i  /  /´
           ／｀ｰ'       L/／｀ヽ､
         /   ／,   /|   ,   ,       ',
       ｲ   / /-‐/  ｉ  L_ ﾊ ヽ!   i
        ﾚ ﾍ 7ｲ｀ﾄ   ﾚ'ｧ-ﾄ､!ハ|   |
          !,/7 '0'     ´0iソ|    |
          |.从"    _     ,,,, / |./    |
          ﾚ'| i＞.､,,__  _,.イ /   .i   |
            ﾚ'| | / k_７_/ﾚ'ヽ,  ﾊ.  |
              | |/i 〈|/   i  ,.ﾍ |  i  |
             .|/ /  ｉ：    ﾍ!    ＼  |
              kヽ>､ﾊ    _,.ﾍ､    /､!
              !'〈//｀Ｔ´', ＼ ｀'7'ｰr'
              ﾚ'ヽL__|___i,___,ンﾚ|ノ
                  ﾄ-,/  |___./
                  'ｰ'    !_,.:
				 
				  `
		)
	</script>
	{% endif %}
	<!--<script>
window.open("https://www.lianyiming.com");
	</script>-->

	</head>

	{% if site.Load %}
	<script src="/js/Load.js"></script>
	<div id="loading-container">
		<noscript>没有JS加载不粗来呢。。。</noscript>
		<!--禁用了js后会显示-->
		<p class="loading-text">Loaing......<p>

				<div class="loading-image">
				</div>
	</div>
	{% endif %}
	
	
	
	<div class="music-player">
		<div class="row">
			<meting-js class="col l8 offset-l2 m10 offset-m1 s12" server="netease" type="playlist" id="2194571843" fixed='true'
			 autoplay='false' theme='#42b983' loop='all' order='list' preload='auto' volume='0.7' list-folded='true'>
			</meting-js>
		</div>
	</div>
	
	<!--写一起，不然没淡出。就会一直卡着.....-->
	{% include head.html %}

	<!-- hack iOS CSS :active style -->
	<body ontouchstart="">

		{% include nav.html %}
		{% include search.html %}
	
		{{ content }}

		{% include footer.html %}


		<!-- Image to hack wechat -->
		<img src="/img/icon_wechat.png" width="0" height="0" />
		<!-- Migrate from head to bottom, no longer block render and still work -->



	</body>

</html>
